@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.eot');
    src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff'),
        url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
body {
    margin: 0;
}
.wrapper {
    margin: 0 auto;
    max-width: 990px;
}
.colum {
    width: 330px;
    display: inline-block;
}
/* перша форма */
input, 
select,
textarea,
button {
    box-sizing: border-box;
}
.name-form {
    font-size: 20px;
    letter-spacing: 0px;
    color: #b3b3b3;
    font-weight: 700;
    font-family: "Roboto";
    text-transform: uppercase;
}
.input,
.email {
    width: 100%;
    margin-bottom: 8px;
    padding: 16px;
    border-radius: 3px;
    border: 1px solid #cccccc;
}
.input:focus, 
.email:focus,
.select:focus,
.textarea:focus {
    outline: none;
    filter: drop-shadow(0 0 2.5px rgba(62,106,255,0.55));
    border: 1px solid #3e6aff;
    font-size: 14px;
    color: #1f222c;
    font-weight: 400;
    font-family: "Roboto";
}
input::placeholder,
textarea::placeholder {
    font-size: 14px;
    color: #b3b3b3;
    font-weight: 400;
    font-family: "Roboto";
}
.select {
    margin-bottom: 8px;
    padding: 16px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #cccccc;
    appearance: none;
}
.textarea {
    width: 100%;
    resize: vertical;
    margin-bottom: 8px;
    padding: 16px;
    border-radius: 3px;
    border: 1px solid #cccccc;
}
.submit {
    padding: 16px;
    width: 100%;
    border-radius: 3px;
    border: none;
    filter: drop-shadow(0px 2px 2.5px rgba(8,118,52,0.35));
    background-color: #07be51;
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto";
    text-align: center;
}
/* кінець першої форми */
.form2 {
    float: right;
}
.form06 {
    border-radius: 5px;
    filter: drop-shadow(0px 5px 6px rgba(0,0,0,0.15));
    background-color: #fafafa;
    border: 1px solid #e6e6e6;
}
.input06 {
    padding: 14px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}
