@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Bold.eot');
    src: url('../fonts/RobotoSlab-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RobotoSlab-Bold.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Bold.woff') format('woff'),
        url('../fonts/RobotoSlab-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
body {
    margin: 0;
}
.wrapper {
    margin: 0 auto;
    max-width: 990px;
}
.colum {
    width: 330px;
    display: inline-block;
}
.form1 p {
    font-size: 20px;
    letter-spacing: 0px;
    color: #b3b3b3;
    font-weight: 700;
    font-family: "Roboto";
    text-transform: uppercase;
}
input[type=text] {
    width: 100%;
    margin-bottom: 8px;
    padding: 16px;
    border-radius: 3px;
    border: 1px solid #cccccc;
    font-size: 14px;
    color: #b3b3b3;
    font-weight: 400;
    font-family: "Roboto";
}
select {
    margin-bottom: 8px;
    padding: 16px;
    width: 364px;
    border-radius: 3px;
    border: 1px solid #cccccc;
}
textarea {
    width: 100%;
    resize: vertical;
    margin-bottom: 8px;
    padding: 16px;
    border-radius: 3px;
    border: 1px solid #cccccc;
}
input[type=button] {
    padding: 16px;
    width: 364px;
    border-radius: 3px;
    border: none;
    filter: drop-shadow(0px 2px 2.5px rgba(8,118,52,0.35));
    background-color: #07be51;
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto";
    text-align: center;
}