@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.eot');
    src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff'),
        url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    font: 400 14px Roboto;
}

.wrapper {
    margin: 0 auto;
    max-width: 990px;
}

.colum {
    width: 330px;
    display: inline-block;
}

.colum2 {
    width: 311px;
    display: inline-block;
}

.colum3 {
    width: 166px;
    display: inline-block;
}

.colum4 {
    width: 246px;
    display: inline-block;
}

/* перша форма */
input,
select,
textarea {
    box-sizing: border-box;
}

.name-form {
    font-size: 20px;
    letter-spacing: 0px;
    color: #b3b3b3;
    font-weight: 700;
    text-transform: uppercase;
}

.input,
.email {
    width: 100%;
    margin-bottom: 8px;
    padding: 16px;
    border-radius: 3px;
    border: 1px solid #cccccc;
}

.input:focus,
.email:focus,
.select:focus,
.textarea:focus {
    outline: none;
    filter: drop-shadow(0 0 2.5px rgba(62, 106, 255, 0.55));
    border: 1px solid #3e6aff;
    color: #1f222c;
}

input::placeholder,
textarea::placeholder {
    color: #b3b3b3;
}

.select {
    margin-bottom: 8px;
    padding: 16px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #cccccc;
    appearance: none;
}

.textarea {
    width: 100%;
    resize: vertical;
    margin-bottom: 8px;
    padding: 16px;
    border-radius: 3px;
    border: 1px solid #cccccc;
}

.submit {
    margin-bottom: 50px;
    padding: 16px;
    width: 100%;
    border-radius: 3px;
    border: none;
    filter: drop-shadow(0px 2px 2.5px rgba(8, 118, 52, 0.35));
    background-color: #07be51;
    color: #fff;
    font-weight: 700;
    text-align: center;
}

/* кінець першої форми */
/* початок 2-ї форми */
.form2 {
    float: right;
}

.form06 {
    border-radius: 5px;
    filter: drop-shadow(0px 5px 6px rgba(0, 0, 0, 0.15));
    background-color: #fafafa;
    border: 1px solid #e6e6e6;
}

.form06 p {
    padding-left: 24px;
    padding-right: 24px;
}

.log,
.pas {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 13px;
    color: #b3b3b3;
    font-weight: 400;
}

.input06 {
    width: 260px;
    padding: 14px;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #ccc;
}

.paragraf-input06 {
    margin-top: 0;
    margin-bottom: 12px;
}

.remember-password,
.answer {
    margin-top: 0;
    margin-bottom: 14px;
    font-size: 13px;
    font-weight: 400;
}

.remember-password input {
    position: absolute;
    visibility: hidden;
}

.answer {
    color: #3e6aff;
}

.parag-submit06 {
    margin-top: 0;
    margin-bottom: 20px;
}

.submit06 {
    padding: 16px;
    width: 261px;
    height: 44px;
    border-radius: 3px;
    border: none;
    filter: drop-shadow(0px 2px 2.5px rgba(8, 118, 52, 0.35));
    background-color: #07be51;
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
}

/* елементи */
.element {
    margin-bottom: 50px;
}

.element input {
    position: absolute;
    visibility: hidden;
}

.colum3 p:last-child,
.colum4 p:last-child {
    color: #b3b3b3;
}

.radio-knopka+label,
.checkbox+label {
    position: relative;
    padding-left: 26px;
}

.radio-knopka+label::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #b3b3b3;
    left: 0;
    top: -1px;
}

.radio-knopka:checked+label::before {
    border: 1px solid #3e6aff;
}

.radio-knopka:checked+label::after {
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #3e6aff;
    ;
    left: 5px;
    top: 4px;
}

.checkbox+label::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #ccc;
    left: 0;
    top: -1px;
}

.checkbox:checked+label::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 5px;
    border-left: 2.5px solid #244dd7;
    border-bottom: 2.5px solid #244dd7;
    transform: rotate(-45deg);
    left: 4px;
    top: 3px;
}

.checkbox:checked+label::before {
    border: 1px solid #3e6aff;
}

.element2 {
    float: right;
}

.element2 {
    border-radius: 3px;
    background-color: #f7f7f7;
    border: 1px solid #e5e5e5;
}

.element2 p {
    margin: 25px 21px;
}

.status {
    padding-right: 32px;
    color: #b3b3b3;
    font-weight: 700;
}

/* Стилізовані чекбокси */
.style-check input {
    position: absolute;
    visibility: hidden;
}

.man+label {
    position: relative;
    padding-left: 90px;
}

.man+label::before {
    content: "";
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #e8e8e8;
    border: 1px solid #b3b3b3;
    left: 0;
    top: 0;
}
.man+label::after {
    content: "";
    position: absolute;
    width: 43px;
    height: 63px;
    background-image: url(../img/man-Black\ &\ White.png);
    left: 15px;
    top: 7px;
}